h2 {    
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

.clienta_2 h3 {
 text-align: center;
    font-size: 30px;
    padding-top: 40px;
}
 
.clienta_2 {
    width: 45vw;
}

.clienta_2 video {
    padding-top: 25px;
    width: 39%;
    height: auto;
    padding-left: 30px;
}

.clienta_2 img {
    padding-top: 25px;
    width: 45%;
    height: auto;
}

.clienta_3 {
    float: right;
    margin-left: 100%;
    width: 45vw;
}

.clienta_3 h3 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.clienta_3 video {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
}


.clienta_4 {
    width: 45vw;
}

.clienta_4 h3 {
 text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.clienta_4 img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 45%;
    height: auto;
}

